<ul class="list-unstyled">
  <li><%= fa_icon "cut" %> Barbered Cuts</li>
  <li><%= fa_icon "cut" %> Length Cuts</li>
  <li><%= fa_icon "cut" %> Children Cuts</li>
  <li><%= fa_icon "cut" %> Basic Color</li>
  <li><%= fa_icon "cut" %> General Color</li>
  <li><%= fa_icon "cut" %> Deep Condition</li>
</ul>