<ul class="list-unstyled">
  <li><%= fa_icon "cut" %> Cosmetologist/Barber</li>
  <li><%= fa_icon "graduation-cap" %> Aveda Institue Graduate</li>
  <%# not rendering calendar-check icon %>
  <li><%= fa_icon "chalkboard-teacher" %> Nanlique Educator</li>
  <li><%= fa_icon "map-marker" %> Address: <a href="https://www.google.com/maps/place/Studio+K+Salon/@40.283343,-111.6914922,17z/data=!3m1!4b1!4m5!3m4!1s0x874d9a935798cc35:0x8a880d32e6e38f1a!8m2!3d40.283343!4d-111.6892982" class="address">Studio K Salon 748 State St, Orem, UT 84058</a></li>
  <li><%= fa_icon "phone-square" %> Phone: <a href="tel:+12085155320" class="phone">208-515-5320</a></li>
</ul>