<h1>Edit this Service Item</h1>

<%= form_for(@service) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
  </div>

  <div class="field">
    <%= f.label :thumb_image %>
    <%= f.file_field :thumb_image %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>