<h1>Create a new Service</h1>

<%= form_for(@services) do |f| %>
  <% if @services.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(services.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% services.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>