<!DOCTYPE html>
<html>
  <head>
    <title>WhitneySalon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= render "shared/application_nav" %>

          <%= yield %>
          
        </div>
      </div>
    </div>
  </body>
</html>